<html lang="es">
      <head>
        <title>Ecommerce</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      </head>
      <body>
        <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">Plis U</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api/products/">Products</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                  <a class="nav-link" href="/api/chat">Chat</a>
                </li>
                {{else}}
                <li class="">
                  <a class="nav-link ms-auto" href="/login">Log in</a>
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
          <div>
            {{#if user}}
              <ul class="navbar-nav">
                <li class="nav-item dropstart mx-2" >
                  <div class="d-flex align-items-center h-100  dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                  </div>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                    {{#if user.isAdmin}}
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/api/products/realtimeproducts">Add/Remove Products</a></li>
                    {{/if}}
                </ul>
              </li>
            {{/if}}
          </div>
        </nav>
        </header>
        <main style="min-height:100vh">
        {{{body}}}
        </main>
        <footer>   
        </footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/message.js"></script>
      </body>
</html>

