<section class="d-flex w-100 h-100 justify-content-center align-items-center">

    <h2 class="mb-5 text-center">Invalid or old link</h2>
    <a class="btn btn-primary" href="/resetPassword" >Create a new link</a>

</section>