<section class="d-flex w-100 h-100 justify-content-center align-items-center">
  <form method="post" class="d-flex flex-column">

    <h2 class="mb-5 text-center">Change your password</h2>
    {{#if succes}}
      <div class="text-center mb-4">
        <h5 class="text-success">Password changed successfully</h5>
        <a href="/login">Login</a>
      </div>
    {{else}}
    <div class="form-outline mb-4">
      <input type="password" id="password1" class="form-control" name="password"  required/>
      <label class="form-label" for="password1">Password</label>
    </div>
    <div class="form-outline mb-4">
      <input type="password" id="password2" class="form-control" name="password2"  required/>
      <label class="form-label" for="password2">Repeat your password</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4 w-50 align-self-center">Change</button>
    {{/if}}

    {{#if error}}
      <div class="text-center">
        <h5 class="text-danger">{{error}}</h5>
      </div>
    {{/if}}
    
  </form>
</section>