<div class="d-flex flex-column w-100 align-items-center justify-content-center" >
  <h2 class="text-center m-5">Bienvenido al chat</h2>
  <div id="messages-Container" style="min-height: 70vh;" class="w-100">

  </div>
  <div class="input-group mb-3 d-flex " style="width: 40vw;">
    <input type="text" class="form-control outline-danger " aria-label="Message" aria-describedby="button-addon2" id="messagesInput">
    <button class="btn btn-outline-danger" type="button" id="button-addon2">Submit</button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

