<section class="d-flex w-100 h-100 justify-content-center align-items-center">
  <form method="post" class="d-flex flex-column">

    <h2 class="mb-5 text-center">Reset your password</h2>
    {{#if response}}
      <div class="text-center mb-4">
        <h5 class="text-success">{{response}}</h5>
      </div>
    {{else}}
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" name="email"  required/>
      <label class="form-label" for="form3Example3">Email address</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4 w-50 align-self-center">Sign up</button>
    {{/if}}



    {{#if error}}
      <div class="text-center">
        <h5 class="text-danger">{{error}}</h5>
      </div>
    {{/if}}
    

  </form>
</section>