<section class="d-flex w-100 h-100 justify-content-center align-items-center">
  <form method="post" class="d-flex flex-column">

    <h2 class="mb-5">Reset your password</h2>

    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" name="email"  required/>
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="password1" class="form-control" name="password" required />
      <label class="form-label" for="password1">New password</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="password2" class="form-control" name="password2" required />
      <label class="form-label" for="password2">Repeat your new password</label>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4 w-50 align-self-center">Sign up</button>

    {{#if error}}
      <div class="text-center">
        <h5 class="text-danger">{{error}}</h5>
      </div>
    {{/if}}

  </form>
</section>