<div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column gap-5">
  <h2 class="text-center">Sign Up</h2>
  <form class="w-50 d-flex flex-column" method="post">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example1" class="form-control" name="firstName" />
          <label class="form-label" for="form3Example1">First name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control " name="lastName" />
          <label class="form-label" for="form3Example2">Last name</label>
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" name="email" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example4" class="form-control" name="username" />
      <label class="form-label" for="form3Example4">Username</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form3Example5" class="form-control" name="password" />
      <label class="form-label" for="form3Example5">Password</label>
    </div>

    {{!-- <div class="form-outline mb-4">
      <input type="password" id="form3Example6" class="form-control" name="password2" />
      <label class="form-label" for="form3Example6">Repeat your password</label>
    </div> --}}

    <div class="form-outline mb-4 pb-2">
      <label class="form-label" for="form3Example7">Gender</label>
      <select class="select" name="gender">
        <option value="male">Male</option>
        <option value="woman">Woman</option>
        <option value="other">Other</option>
      </select>
    </div>


    <button type="submit" class="btn btn-primary btn-block mb-4 w-50 align-self-center">Sign up</button>
    <p class="text-center">Did you already have an account? <a href="/login"> Log In</a></p>
    {{#if error}}
      <h4 class="text-center text-danger">{{error}}</h4>
    {{/if}}
  </form>
</div>